{% extends "links.html" %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<div class="w3ls-section">
	<div class="container">
        {% include 'alerts.html' %}
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center ">
          <h2 class="font-weight-light ">Change Password</h2>
          <p class="color-black-opacity-5"> 
              
            Your password is now changed.</p>
            <p>You can login <a href="{% url 'account_login' %}" class="txt2">
                HERE
            </a></p>
        </div>
        {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
      </div>
      </div>
      </div>
{% endblock %}


{% block year %}
  2020
{% endblock year %}
  
