{% extends "links.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="w3ls-section">
	<div class="container">
        {% include 'alerts.html' %}
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 text-center border-primary">
          <h2 class="font-weight-light ">Password Reset</h2>
          <p class="color-black-opacity-5"> 
              
            We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
        </div>
        {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
      </div>
      </div>
      </div>
{% endblock %}

{% block year %}
  2020
{% endblock year %}
  