{% extends "profile.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="content">
        {% include 'alerts.html' %}
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h3 class="title">{% trans "Change Password" %}</h3>
                
              </div>
              <div class="card-body">
    <form method="POST" action="{% url 'account_change_password' %}" class="password_set">
      {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <span> {{error}} <span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <span> {{error | escape}} <span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% csrf_token %}
        {{ form|crispy }}
        <div class="card-footer">
            <button type="submit" class="btn btn-fill btn-primary">Change Password</button>
            <a href="{% url 'dashboard' %}" class="">Go back to Dashboard</a>
          </div>
    </form>
    </div>
    </div>
</div>
</div>
</div>
{% endblock %}
    