{% extends 'ext.html' %}
{% load static %}
{% load account %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% providers_media_js %}
{% load i18n %}


{% block title %}{% trans "Password Reset" %}{% endblock %}



{% block top %}
  RESET PASSWORD
{% endblock top %}
  
  

{% block content %}
  {% load static %}
  {% load crispy_forms_tags %}
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
      <div class="content">
        {% include 'alerts.html' %}
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h3 class="title">Reset Password</h3>
                <p class="color-black-opacity-5"> 
                  Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
              </div>
              <div class="card-body">
				<form method="POST" action="{% url 'account_reset_password' %}" enctype="multipart/form-data">
					{% if form.errors %}
					{% for field in form %}
					{% for error in field.errors %}
					<div class="alert alert-warning alert-dismissible fade show" role="alert">
				<span> {{error}} <span>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
					</button>
					</div>
					{% endfor %}
					{% endfor %}
					{% for error in form.non_field_errors %}
					<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<span> {{error | escape}} <span>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
						</button>
					</div>
					{% endfor %}
					{% endif %}
                  {% csrf_token %}
                 
				<div class="row">
                    <div class="col-md-12">
                    <div id="div_id_email" class="form-group">
              <label class="text-black" for="id_email">E-mail</label>
              <input class="form-control" type="email" name="email" size="30" placeholder="E-mail address" required="" id="id_email">
     
                      </div>
                    </div>
				  </div>
				  
				  {% if redirect_field_value %}
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
				{% endif %}
				<div class="card-footer">
					<button type="submit" class="btn btn-fill btn-primary">Reset Password</button>
				  </div>

                  
                </form>
                <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
              </div>
              
            </div>
          </div>
        </div>
      </div>
 {% endblock content %}
  