<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
	{% if title %}
	<title>ArtisanGet | {{ title }}</title>
	{% else %}
	<title>Artisan</title>
	{% endif %}
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- google webmaster -->
	<meta name="google-site-verification" content="XHZ1Y_p-rCMb8vBfV2OxM7saiZPWmqfStWdSKW5xswo" />
	
	<meta name="keywords" content="ArtisanGet - one stop easy service providers. Electrical services, plumbing services, carpentry, furniture making,
	very good and affordable artisans, artisans next door, friendly artisans, professional artisans, service providers,
	artisan company, service provider company" />
	
	<!--LINK TO MANIFEST (FOR PWA)-->
	<link rel="manifest" href="{% static 'manifest.webmanifest' %}">
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	
<!--Mailchimp-->
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false">
</script>
<script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us4.list-manage.com","uuid":"4ed2e23db6c7282b0c7794bdd","lid":"84bbf98b8a","uniqueMethods":true}) });
</script>

<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/4ed2e23db6c7282b0c7794bdd/f9c154e25b4d19c92a7de4c2f.js");</script>
<!--//Mailchimp-->

	<!-- //favicons -->
	<link href="{% static "images/artisanget.png" %}" rel="icon">
	<!-- //for-mobile-apps -->
	<link href=" {% static 'css/bootstrap.css' %} " rel="stylesheet" type="text/css" media="all" />
	<link href=" {% static "css/bootstrap.min.css" %} " rel="stylesheet" type="text/css" media="all" />	
	<!-- required-js-files-->
	<!--clients slider  -->
	<link href=" {% static 'css/owl.carousel.css' %} " rel="stylesheet">
	<!-- //clients slider  -->
	<link href=" {% static 'css/font-awesome.css' %} " rel="stylesheet" type="text/css" media="all" />
	<link href=" {% static 'css/style.css' %} " rel="stylesheet" type="text/css" media="all" />
	<link href="//fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

	<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/4ed2e23db6c7282b0c7794bdd/dd3f54e64d46c62cae15914f5.js");</script>

</head>

<body>
	<!-- header -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="{% url 'home' %}">
		   <img src="{% static "images/artisanget1.png" %}" width="45" height="62" alt="">
		 </a>
	 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	   <span class="navbar-toggler-icon"></span>
	 </button>
	 <div class="collapse navbar-collapse" id="navbarNav">
	   <ul class="navbar-nav">
		 <li class="nav-item">
		   <a class="nav-link" href="{% url 'home' %}"><strong>Home</strong></a>
		 </li>
		 <li class="nav-item">
		   <a class="nav-link" href="{% url 'about' %}"><strong>About Us</strong> </a>
		 </li>
		 <li class="nav-item">
		   <a class="nav-link" href="{% url 'status' %}"><strong>Track Service Status</strong> </a>
		 </li>
		 <li class="nav-item">
		   <a class="nav-link" href="{% url 'contact' %}"><strong>Contact Us</strong> </a>
		 </li>
		 {% if user.is_authenticated %}
		 <li class="nav-item">
		   <a class="nav-link" href="{% url 'dashboard' %}"><strong>Hi, {{user.username}}</strong> </a>
		 </li>
		 <li class="nav-item">
		   <a class="nav-link" href="{% url 'account_logout' %}"><strong>Log out</strong> </a>
		 </li>
		 {% else %}
		 <li class="nav-item">
		   <a class="nav-link" href="{% url 'account_signup' %}"><strong>Register</strong> </a>
		 </li>
		 <li class="nav-item">
		   <a class="nav-link" href="{% url 'account_login' %}"><strong>Log in</strong> </a>
		 </li>
		 {% endif %}
	   </ul>
	 </div>
   </nav>
   <!-- //header -->
{% include 'alerts.html' %}
	<div class="banner-bg2">
		<div class="banner-info bg3 inner">
			<h3>one click repair service</h3>
			<p>repair.&nbsp;improve.&nbsp;maintain</p>
		</div>
	</div>
	<!-- breadcrumbs -->
	<div class="breadcrumbs-w3l">
		<div class="container">
			<span class="breadcrumbs">
				<a href="index.html">Home</a> |
				<span>About us</span>
			</span>
		</div>
	</div>
	<!-- inner-banner-bottom -->
	<div class="w3ls-section">
		<div class="container">
			<div class="col-md-6 inner-banner">
				<h4 class="title-about about text-center">leave it to us
					<span>complete home</span> and <span>office</span> maintenance
					<span>services
					</span>
				</h4>
			</div>
			<div class="col-md-6 inner-main-bg">
				<div class="inner-bg-layer"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- //inner-banner-bottom  -->
	<!-- about bottom -->
	<div class="agile-about-main">
		<div class="col-md-4 about-left">
			<div class="about-main-bg text-center">
				<h4 class="about-title">Why</h4>
				<h4 class="sub">
					<span>c</span>hoose
					<span>u</span>s?</h4>
			</div>
		</div>
		<div class="col-md-8 about-bottom-g1">
			<h4>One Stop Solution for your Complete Home Maintenance</h4>
			<!-- <h4>get easy home repairs and upgrades with professional home service providers</h4> your complete home solution.-->
			<div class="about-grid">
				<div class="about-bottom-right">
					<div class="abouthome-grid">
						<span class="hi-icon hi-icon-archive fa fa-check"> </span>
					</div>
					<div class="about-bottom">
						<h5>vision</h5>
						<p>To provide good and efficient home services and on campus services.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="about-bottom-right">
					<div class="abouthome-grid">
						<span class="hi-icon hi-icon-archive  fa fa-money"> </span>
					</div>
					<div class="about-bottom">
						<h5>affordable</h5>
						<p>Good and improved home services at affordable prices.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class=" about-bottom-right">
					<div class="abouthome-grid">
						<span class="hi-icon hi-icon-archive fa fa-photo"> </span>
					</div>
					<div class="about-bottom">
						<h5>quality</h5>
						<p>Great Acccessibilty for quality control.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class=" about-bottom-right">
					<div class="abouthome-grid">
						<span class="hi-icon hi-icon-archive fa fa-briefcase"> </span>
					</div>
					<div class="about-bottom">
						<h5>24*7 support</h5>
						<p>Any time, Any day. Support all day.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
	<!-- //about bottom-->
	<!-- Stats -->
	<div class="w3ls-section  stats">
		<div class="container">
			<h5>On time,On budget, with in Scope and with Quality.</h5>
			<div class="services-main">
				<div class="col-md-3 agileits_w3layouts-stats-grids text-center">
					<div class="stats-icon">
						<span class="fa fa-users" aria-hidden="true"></span>
					</div>
					<div class="stats-right">
						<h6 style="color:#f69707; text-transform: uppercase; margin-top: 15px;font-weight: 600;">Clients</h6>
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='15' data-delay='.5' data-increment="10">15</div>

					</div>
				</div>
				<div class="col-md-3 agileits_w3layouts-stats-grids text-center">
					<div class="stats-icon">
						<span class="fa fa-shield" aria-hidden="true"></span>
					</div>
					<div class="">
						<h6 style="text-transform: uppercase; margin-top: 15px;font-weight: 600;">Branches</h6>
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='2' data-delay='.5' data-increment="1">2</div>

					</div>

				</div>
				<div class="col-md-3 agileits_w3layouts-stats-grids text-center">
					<div class="stats-icon">
						<span class="fa fa-external-link" aria-hidden="true"></span>
					</div>
					<div  class="">
						<h6 style="color:#f69707; text-transform: uppercase; margin-top: 15px;font-weight: 600;">Projects</h6>
						<div  class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='30' data-delay='.5' data-increment="1">66</div>

					</div>
				</div>
				<div class="col-md-3 agileits_w3layouts-stats-grids text-center">
					<div class="stats-icon">
						<span class="fa fa-book" aria-hidden="true"></span>
					</div>
					<div class="">
						<h6 style="text-transform: uppercase; margin-top: 15px;font-weight: 600;">Others</h6>
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='3' data-delay='.5' data-increment="1">23</div>

					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //Stats -->
	<!-- about-slid -->
	<div class="about-slid">
		<div class="container">
			<h6 class="slid">Professional, Efficient and Reliable Plumbing Services</h6>
		</div>
	</div>
	<!-- //about-slid -->
	<!-- what we do -->
	<div id="news" class="w3ls-section">
		<div class="container">
			<h4 class="main-title">what we do?</h4>
			<div class="row">
				<div class="col-sm-4">
			    <div class="card" style="margin-bottom:20px;">
			    	<img src="{% static "images/g4.jpg" %}" class="card-img-top" alt="...">
			      <div class="card-body">
			        <h5 class="card-title" style="color:#f69707;">Home Maintenance</h5>
			        <p class="card-text">The conditions of your homes and rooms are paramount to us. We ensure good maintenance of homes and properties.</p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-4">
			    <div class="card" style="margin-bottom:20px;">
			    	<img src="{% static "images/r2.jpg" %}" class="card-img-top" alt="...">
			      <div class="card-body">
			        <h5 class="card-title" style="color:#f69707;">Repair</h5>
			        <p class="card-text">Repair worn out parts of clothes, laptops, machines, phones and calculators. Improved services for better structures.</p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-4">
			    <div class="card" style="margin-bottom:20px;">
			    	<img src="{% static "images/painting.jpg" %}" class="card-img-top" alt="...">
			      <div class="card-body">
			        <h5 class="card-title" style="color:#f69707;">Painting Services</h5>
			        <p class="card-text">The beauty of our homes lies in the paintings. Good and flashy color painting applied by professionals.</p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-4">
			    <div class="card" style="margin-bottom:20px;">
			    	<img src="{% static "images/g7.jpg" %}" class="card-img-top" alt="...">
			      <div class="card-body">
			        <h5 class="card-title" style="color:#f69707;">Improvement</h5>
			        <p class="card-text">Good and better services improves the quality of home appliances. Cleaning ensures adequate environment.</p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-4">
			    <div class="card" style="margin-bottom:20px;">
			    	<img src="{% static "images/tool.jpg" %}" class="card-img-top" alt="...">
			      <div class="card-body">
			        <h5 class="card-title" style="color:#f69707;">Electrical Services</h5>
			        <p class="card-text">Installation of good and efficient wiring for the safety of the home appliances. Repair of electrical appliances also available.</p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-4">
			    <div class="card" style="margin-bottom:20px;">
			    	<img src="{% static "images/plumb.png" %}" class="card-img-top" alt="...">
			      <div class="card-body">
			        <h5 class="card-title" style="color:#f69707;">Plumbing Services</h5>
			        <p class="card-text">Great plumbing services. Make bore holes, fix toilets and bathrooms taps. Good and efficient closets.</p>
			      </div>
			    </div>
			  </div>
			  <div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //what we do -->

	<!-- team -->
	<div id="team" class="w3ls-section team">
		<div class="container">
			<h4 class="main-title">meet Our Team</h4>
			<div class="services-main">
				<!-- <div class="col-md-7 team-grid1">
					<h4 class="sub1">your complete home solution</h4> 
					<h4 class="sub1">our dynamic and dedicated team working towards building one stop solution!</h4>
				</div> -->
				<div class="col-md-12 team-main-grid">
					<div class="team-row">
						<div class="col-md-4 col-xs-4 team-grids" style="margin-top: 20px;">
							<div class="team-gridimg">
								<img class="img-responsive" width="100%" src=" {% static 'images/yemi.jpg' %} " alt="">
								<div class="captn">
									<div class="captn-top">
										<h5 style="color: #fff;"><b>Olaoluwayemi Rasheed</b></h5>
										<p><small>Co-Founder | Chief Managing Director</small></p>
									</div>
									<div class="social-teamicon teaminfo-social-grids">
										<ul>
											<li>
												<a href="#">
													<span class="fa fa-facebook"></span>
												</a>
											</li>
											<li>
												<a href="http://www.twitter.com/YemiTumininu" target="_blank">
													<span class="fa fa-twitter"></span>
												</a>
											</li>
											<li>
												<a href="http://www.instagram.com/iamyemiemy" target="_blank">
													<span class="fa fa-instagram"></span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-4 team-grids" style="margin-top: 20px;">
							<div class="team-gridimg">
								<img class="img-responsive" width="100%" src=" {% static 'images/femi.jpg' %} " alt="">
								<div class="captn">
									<div class="captn-top">
										<h5 style="color: #fff;">Femi Adebayo</h5>
										<p><small>Co-Founder | Chief Operating Officer</small></p>
									</div>
									<div class="social-teamicon teaminfo-social-grids">
										<ul>
											<li>
												<a href="#">
													<span class="fa fa-facebook"></span>
												</a>
											</li>
											<li>
												<a href="http://www.twitter.com/femirill1" target="_blank">
													<span class="fa fa-twitter"></span>
												</a>
											</li>
											<li>
												<a href="http://www.instagram.com/femirill1" target="_blank">
													<span class="fa fa-instagram"></span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-xs-4 team-grids" style="margin-top: 20px;">
							<div class="team-gridimg">
								<img class="img-responsive" width="100%" src=" {% static 'images/bar.jpg' %} " alt="">
								<div class="captn">
									<div class="captn-top">
										<h5 style="color: #fff;">Bariledum Keenam</h5>
										<p> <small>Product Manager</small></p>
									</div>
									<div class="social-teamicon teaminfo-social-grids">
										<ul>
											<li>
												<a href="#">
													<span class="fa fa-facebook"></span>
												</a>
											</li>
											<li>
												<a href="http://www.twitter.com/gumbars" target="_blank">
													<span class="fa fa-twitter"></span>
												</a>
											</li>
											<li>
												<a href="http://www.instagram.com/bari.keenam" target="_blank">
													<span class="fa fa-instagram"></span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						
						<div class="clearfix"> </div>
					</div>

				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

	
	
	<!-- //team -->

	<!--client-->
	<div class="testimonials w3ls-section">
		<div class="container">
			<h4 class="main-title">what our Client Says</h4>
			<div class="services-main  client">
				<!--screen-gallery-->
				<div class="sreen-gallery-cursual">

					<div id="owl-demo" class="owl-carousel">
						{% for feed in feedback %}
						<div class="item-owl">
							<div class="customer-say">
								<div class="customer-grid">
									<div class="de_testi">
										<div class="quotes">
											<img src=" {% static 'images/order1.jpg' %} " alt="">
										</div>
										<div class="de_testi_by">
											<h6>{{feed.name}}</h6>
											<p> {{feed.rate}}</p>
											<a href="#">{{feed.name}} </a>, Customer
										</div>
										<div class="clearfix"></div>
									</div>
								</div>

							</div>
						</div>
						{% endfor %}

					</div>
					<!--//screen-gallery-->
				</div>
			</div>
			<!--//client-->
		</div>
	</div>

	
	<!-- footer -->
	<div class="footer-main-w3_agile">
		<div class="footer-dot">
			<div class="container">
				<div class="container">
				<div class="footer-bottom">
					<div class="col-md-4 col-sm-6 col-xs-6 footer-grid1 address">
						<h4>Contact Info</h4>
						<ul style="list-style-type: none; padding-left:0;" >
							<li>
								<span class="fa fa-home" aria-hidden="true"></span>
								<p>ArtisanGet</p>
							</li>
							<li>
								<span class="fa fa-envelope-o" aria-hidden="true"></span>
								<a href="mailto:contact@artisanget.com">contact@artisanget.com</a>
							</li>
							<li>
								<a href="tel://09076526958"><span class="fa fa-phone" aria-hidden="true"></span>
								<p>09076526958</p></a>
							</li>
							<li>
								<a href="tel://08114864108"><span class="fa fa-phone" aria-hidden="true"></span>
								<p>08114864108</p></a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6 footer-grid1 res">
						<h4>services</h4>
						<ul style="list-style-type: none; padding-left:0;" >
							<li>
								<a href="#looking" class="scroll">appliance repair</a>
							</li>
							<li>
								<a href="#looking" class="scroll">home improvement</a>
							</li>
							<li>
								<a href="#looking" class="scroll">home maintenance</a>
							</li>
						</ul>
					</div>
					
					<div class="col-md-2 col-sm-6 col-xs-6 footer-grid1">
						<h4>legal</h4>
						<ul style="list-style-type: none; padding-left:0;" >
							<li>
								<a href="{% url 'terms' %}">privacy policy</a>
							</li>
							<li>
								<a href="#">licence info</a>
							</li>
							<li>
								<a href="{% url 'terms' %}">terms of use</a>
							</li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
				<div class="agileinfo-subscribe-grid text-center">
					<img src=" {% static "images/mail.png" %} " alt="">
					<h4>stay upto date with our newsletter!</h4>
					<p>Sign up to receive helpful Q&A, info on upcoming services and more.</p>
					<form action="https://herokuapp.us4.list-manage.com/subscribe/post?u=4ed2e23db6c7282b0c7794bdd&amp;id=84bbf98b8a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"placeholder="Enter your email.." required="">

						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_4ed2e23db6c7282b0c7794bdd_84bbf98b8a" tabindex="-1" value=""></div>
						<button name="subscribe" id="mc-embedded-subscribe" class="btn1">sign up</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="cpy-footer">
		<div class="container">
			<div class="footer-top">
				<div class="logo-nav-left footer-top1">
					<h2>
							<a class="navbar-brand" href="{% url 'home' %}">
							    <img src="{% static "images/artisanget1.png" %}" width="90" height="124" alt="">
							  </a>
					</h2>
				</div>
				<div class="footer-social">
					<h4>connect with us</h4>
					<ul>
						<li>
							<a href="http://facebook.com/ArtisanGet" target="_blank">
								<span class="fa fa-facebook icon_facebook"></span>
							</a>
						</li>
						<li>
							<a href="http://twitter.com/artisanget" target="_blank">
								<span class="fa fa-twitter icon_twitter"></span>
							</a>
						</li>
						<li>
							<a href="http://instagram.com/artisanget" target="_blank">
								<span class="fa fa-instagram icon_dribbble"></span>
							</a>
						</li>
						<li>
							<a href="mailto:contact@artisanget.com" target="_blank">
								<span class="fa fa-google-plus icon_g_plus"></span>
							</a>
						</li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="cpy-text">
			<p>© {{year}} ArtisanGet. All rights reserved | Designed and Powered by Yemiemy
			</p>
		</div>

	</div>
	<!--//footer  -->
	<!-- js -->
	<script src=" {% static 'js/jquery-2.2.3.min.js' %} "></script>
	<!-- //js-->
	
	<!--search-bar-->
	<script src=" {% static 'js/main.js' %} "></script>
	<!--//search-bar-->
	<!-- clients slider-->
	<script src=" {% static 'js/owl.carousel.js' %} "></script>
	<script>
		$(document).ready(function () {
			$("#owl-demo").owlCarousel({
				items: 1,
				lazyLoad: true,
				autoPlay:true,
				navigation: true,
				navigationText: false,
				pagination: true,
			});
		});
	</script>
	<!-- //clients slider-->
	<!-- start-smooth-scrolling -->
	<script src="{% static 'js/move-top.js' %}"></script>
	<script src=" {% static 'js/easing.js' %} "></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->
	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	
	<script src=" {% static 'js/SmoothScroll.min.js' %} "></script>
	<!-- Numscroller -->
	<script src=" {% static 'js/numscroller-1.0.js' %} "></script>
	<!-- //Numscroller -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src=" {% static 'js/bootstrap.js' %} "></script>
</body>

</html>
