<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% extends 'base.html' %}
{% block content %}
{% load static %}
	<!-- //header -->
	<div class="banner-bg2">
			<div class="banner-info bg3 inner">
					<h3>one click repair service</h3>
					<p>repair.&nbsp;improve.&nbsp;maintain</p>
				</div>
	</div>
	<!-- breadcrumbs -->
	<div class="breadcrumbs-w3l">
		<div class="container">
			<span class="breadcrumbs">
				<a href="index.html">Home</a> |
				<span>Plans</span>
			</span>
		</div>
	</div>

	<!-- plan -->
	<div class="w3ls-section plans">
		<div class="container">
			<h4 class="main-title">plans</h4>
			<div class="services-main">
				<!-- maintenance essential plan -->
				<div class="col-md-4 col-sm-4 w3_agile-plan-grid">
					<div class="pricing_grid_content">
						<h5>home maintenance</h5>
						<h3>
							<sup>$</sup>
							<span class="counter agile_counter">35/
								<label>Month</label>
							</span>
						</h3>
						<ul class="w3_count">
							<li>
								<span class="fa fa-check" aria-hidden="true"></span>
								<p>Adipiscing consect</p>
							</li>
							<li>
								<span class="fa fa-check" aria-hidden="true"></span>
								<p> estibulum nibh urna</p>
							</li>
							<li>
								<span class="fa fa-check" aria-hidden="true"></span>
								<p> estibulum nibh urna</p>a</li>
							<li>
								<span class="fa fa-check" aria-hidden="true"></span>
								<p> estibulum nibh urna</p>
							</li>
						</ul>
						<a href="#">subscribe</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 w3_agile-plan-grid">
					<div class="pricing_grid_content">
							<h5>appliances coverage</h5>
						<h3>
							<sup>$</sup>
							<span class="counter agile_counter">45/
								<label>Month</label>
							</span>
						</h3>
						<ul class="w3_count">
							<li>
								<span class="fa fa-check" aria-hidden="true"></span>
								<p>Adipiscing consecte</p>
							</li>
							<li>
								<span class="fa fa-check" aria-hidden="true"></span>
								<p> estibulum nibh urna</p>
							</li>
							<li>
								<span class="fa fa-check" aria-hidden="true"></span>
								<p> estibulum nibh urna</p>a</li>
							<li>
								<span class="fa fa-check" aria-hidden="true"></span>
								<p> estibulum nibh urna</p>
							</li>
						</ul>
						<a href="#">subscribe</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 w3_agile-plan-grid">
					<div class="pricing_grid_content">
						<h5>total home package</h5>
						<h3>
							<sup>$</sup>
							<span class="counter agile_counter">80/
								<label>Month</label>
							</span>
						</h3>
						<ul class="w3_count">
							<li>
								<span class="fa fa-check" aria-hidden="true"></span>
								<p>Adipiscing consect</p>
							</li>
							<li>
								<span class="fa fa-check" aria-hidden="true"></span>
								<p> estibulum nibh urna</p>
							</li>
							<li>
								<span class="fa fa-check" aria-hidden="true"></span>
								<p> estibulum nibh urna</p>a</li>
							<li>
								<span class="fa fa-check" aria-hidden="true"></span>
								<p> estibulum nibh urna</p>
							</li>
						</ul>
						<a href="#">subscribe</a>
					</div>
				</div>
				<div class="clearfix"></div>

			</div>
		</div>
	</div>
	<!-- //plan -->
	
<!-- footer -->
{% endblock %}