<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% extends 'base.html' %}
{% block content %}
{% load static %}
	<!-- //header -->
	<div class="banner-bg2">
		<div class="banner-info bg3 inner">
			<h3>one click repair service</h3>
			<p>repair.&nbsp;improve.&nbsp;maintain</p>
		</div>
	</div>
	<!-- breadcrumbs -->
	<div class="breadcrumbs-w3l">
		<div class="container">
			<span class="breadcrumbs">
				<a href="{% url 'home' %}">Home</a> |
				<span>Our Projects</span>
			</span>
		</div>
	</div>
	<!-- //breadcrumbs -->
	<!--Gallery  section starts here-->
	<div class="gallery  agileinfo w3ls-section" id="gallery">
		<div class="container">
			<h4 class="main-title">our projects</h4>
		</div>
		<div class="bs-example bs-example-tabs services-main" role="tabpanel" data-example-id="togglable-tabs">
			<ul id="myTab" class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#home-main" id="home-tab" role="tab" data-toggle="tab" aria-controls="home-main" aria-expanded="true">All</a>
				</li>
				<li role="presentation">
					<a href="#learning" role="tab" id="learning-tab" data-toggle="tab" aria-controls="learning">Maintenance</a>
				</li>
				<li role="presentation">
					<a href="#playing" role="tab" id="playing-tab" data-toggle="tab" aria-controls="playing">Cleaning</a>
				</li>
				<li role="presentation">
					<a href="#school" role="tab" id="school-tab" data-toggle="tab" aria-controls="school">Inspection</a>
				</li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<div role="tabpanel" class="tab-pane fade in active" id="home-main" aria-labelledby="home-tab">
					<div class="w3_tab_img">
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href="images/g1.jpg">
									<img src=" {% static "images/g1.jpg" %} " alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6  w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href=" {% static "images/g2.jpg" %} ">
									<img src=" {% static "images/g2.jpg" %} " alt=" " class="img-responsive" />

								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href=" {% static "images/g3.jpg" %} ">
									<img src=" {% static "images/g3.jpg" %} " alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href=" {% static "images/g4.jpg" %} ">
									<img src=" {% static "images/g4.jpg" %} " alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6  w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href=" {% static "images/g5.jpg" %} ">
									<img src=" {% static "images/g5.jpg" %} " alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href=" {% static "images/g6.jpg" %} ">
									<img src=" {% static "images/g6.jpg" %} " alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href=" {% static "images/g1.jpg" %} ">
									<img src=" {% static "images/g1.jpg" %} " alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href=" {% static "images/g2.jpg" %} ">
									<img src=" {% static "images/g2.jpg" %} " alt=" " class="img-responsive" />
								</a>
							</div>
						</div>

						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href=" {% static "images/g3.jpg" %} ">
									<img src=" {% static "images/g3.jpg" %} " alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4   col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href=" {% static "images/g4.jpg" %} ">
									<img src=" {% static "images/g4.jpg" %} " alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href=" {% static "images/g5.jpg" %} ">
									<img src=" {% static "images/g5.jpg" %} " alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href=" {% static "images/g6.jpg" %} ">
									<img src=" {% static "images/g6.jpg" %} " alt=" " class="img-responsive" />
								</a>
							</div>
						</div>



						<div class="clearfix"> </div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="learning" aria-labelledby="learning-tab">
					<div class="w3_tab_img">
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href=" {% static "images/g2.jpg" %} ">
									<img src=" {% static "images/g2.jpg" %} " alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href=" {% static "images/g4.jpg" %} ">
									<img src=" {% static "images/g4.jpg" %} " alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href=" {% static "images/g5.jpg" %} ">
									<img src=" {% static "images/g5.jpg" %} " alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href=" {% static "images/g3.jpg" %} ">
									<img src=" {% static "images/g3.jpg" %} " alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="playing" aria-labelledby="playing-tab">
					<div class="w3_tab_img">
						<div class="col-md-3 col-sm-4  col-xs-6  w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href=" {% static "images/g5.jpg" %} ">
									<img src=" {% static "images/g5.jpg" %} " alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href=" {% static "images/g6.jpg" %} ">
									<img src=" {% static "images/g6.jpg" %} " alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href=" {% static "images/g1.jpg" %} ">
									<img src=" {% static "images/g1.jpg" %} " alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href=" {% static "images/g2.jpg" %} ">
									<img src=" {% static "images/g2.jpg" %} " alt=" " class="img-responsive" />
								</a>
							</div>
						</div>

						<div class="clearfix"> </div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane fade" id="school" aria-labelledby="school-tab">
					<div class="w3_tab_img">
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href=" {% static "images/g3.jpg" %} ">
									<img src=" {% static "images/g3.jpg" %} " alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href=" {% static "images/g4.jpg" %} ">
									<img src=" {% static "images/g4.jpg" %} " alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href=" {% static "images/g5.jpg" %} ">
									<img src=" {% static "images/g5.jpg" %} " alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="col-md-3 col-sm-4  col-xs-6 w3_tab_img_left">
							<div class="demo">
								<a class="cm-overlay" href=" {% static "images/g6.jpg" %} ">
									<img src=" {% static "images/g6.jpg" %} " alt=" " class="img-responsive" />
								</a>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>


			</div>
		</div>
	</div>
{% endblock %}