<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% extends 'base.html' %}
{% block content %}
{% load static %}
	<div class="banner-bg2">
		<div class="banner-info bg3 inner">
			<h3>one click repair service</h3>
			<p>repair.&nbsp;improve.&nbsp;maintain</p>
		</div>
	</div>
	<!-- breadcrumbs -->
	<div class="breadcrumbs-w3l">
		<div class="container">
			<span class="breadcrumbs">
				<a href="{% url 'home' %}">Home</a> |
				<span> Services</span>
			</span>
		</div>
	</div>
	<!-- //breadcrumbs -->
	<!-- /services -->
	<div class="services w3ls-section">
		<div class="container">
			<h4 class="main-title">services offered</h4>
			<div class="services-main">
				<div class="col-md-4 serv-grid1">
					<!-- <h4 class="sub1">your complete home solution</h4> -->
					<h4 class="sub1">services that you need we will provide at your door step</h4>

				</div>
				<div class="col-md-8 serv-grid2">
					<div class="col-md-4 serv-sub1">
						<img src=" {% static "images/t8.png" %} " alt="" />
						<h5>electrical service</h5>
					</div>
					<div class="col-md-4 serv-sub1">
						<img src=" {% static "images/t5.png" %} " alt="" />
						<h5>plumbing service</h5>
					</div>
					<div class="col-md-4 serv-sub1">
						<img src=" {% static "images/t3.jpg" %} " alt="" />
						<h5>cleaning</h5>
					</div>
					<div class="col-md-4 serv-sub1">
						<img src=" {% static "images/t6.png" %} " alt="" />
						<h5>home appliances</h5>
					</div>
					<div class="col-md-4 serv-sub1">
						<img src=" {% static "images/t7.png" %} " alt="" />
						<h5>painting service</h5>
					</div>
					<div class="col-md-4 serv-sub1">
						<img src=" {% static "images/t2.jpg" %} " alt="" />
						<h5>carpentry</h5>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //services -->
	<div class="container">
		<div class="single-left serv-bottom">
			<h5 class="main-title">complete home services
			</h5>
			<div class="post-media col-md-7">
				<div class="blog-text">
					<h5>Plumbing system</h5>
					<p>Water supply and distribution pipes; plumbing fixtures and traps; soil, waste and vent pipe; sanitary and storm sewers and building drains including their respective connection, devices and apurtenances within the premises; and water-treating equipment. </p>
				</div>
			</div>
			<div class="all-comments col-md-5">
				<div class="media-grids">
					<div class="w3l-media">
						<h5>plumbing services</h5>
						<div class="media-body">
							<p>Plumbing fixtures and traps; soil, waste and vent pipe; sanitary and storm sewers and building drains including their respective connection, devices and apurtenances within the premises; and water-treating equipment.</p>
						</div>
					</div>
					<div class="w3l-media">
						<h5>electrical services</h5>
						<div class="media-body">
							<p>We have a friendly team of electricians who understand that you want a reliable and cost efficient solution. Look no further than our electrical services.</p>
						</div>
					</div>
					<div class="w3l-media">
						<h5>painting services</h5>
						<div class="media-body">
							<p>Painting and decorating of buildings. The purpose of painting is to improve the appearance of a building and to protect it from damage by water, corrosion, insects and mold. Contact us today for exquisite paintings.</p>
						</div>
					</div>

				</div>


			</div>
			<div class="clearfix"></div>
		</div>
	</div>

{% endblock %}