<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% extends 'base.html' %}
{% block content %}
{% load static %}
	<div class="banner-bg2">
		<div class="banner-info bg3 inner">
			<h3>one click repair service</h3>
			<p>repair.&nbsp;improve.&nbsp;maintain</p>
		</div>
	</div>
	<!-- breadcrumbs -->
	<div class="breadcrumbs-w3l">
		<div class="container">
			<span class="breadcrumbs">
				<a href="{% url 'home' %}">Home</a> |
				<a href="{% url 'about' %}">About us</a>|
				<span>Single</span>
			</span>
		</div>
	</div>
	<!--single -->
	<div class="w3ls-section">
		<div class="container">

			<div class="single-left">
				<h5 class="main-title">plumbing services
				</h5>
				<div class="post-media col-md-7">
					<img src=" {% static "images/g6.jpg" %} " class="img-responsive" alt="">
					<div class="blog-text">
						<h5>Tap faucets</h5>
						<p>Fixing a kitchen faucet is usually easier and less time-consuming than you imagine. Leaks are handled either by treating blockages with vinegar or replacing some of the faucet's smaller parts. We fix them appropriately.</p>
					</div>
				</div>
				<div class="all-comments col-md-5">
					<div class="media-grids">
						<div class="w3l-media">
							<h5>water leaks</h5>
							<div class="media-body">
								<p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id
									ex pretium hendrerit</p>
								
							</div>
						</div>
						<div class="w3l-media">
							<h5>ball valves</h5>
							<div class="media-body">
								<p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id
									ex pretium hendrerit</p>
								
							</div>
						</div>
						<div class="w3l-media">
							<h5>taps/sinks/radiators</h5>
							<div class="media-body">
								<p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id
									ex pretium hendrerit</p>
								
							</div>
						</div>

					</div>


				</div>
				<div class="clearfix"></div>
			</div>
			<div class="single-left">
				<h5 class="main-title">cleaning services
				</h5>
				<div class="post-media col-md-7">
					<img src=" {% static "images/g8.jpg" %} " class="img-responsive" alt="">
					<div class="blog-text">
						<h5>Quo modo autem philosophus</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non semper, inquam; Quo modo autem philosophus loquitur? Duo
							Reges: constructio interrete. Dici enim nihil potest verius. Hic ambiguo ludimur. An hoc usque quaque, aliter in vita?
							Bonum incolumis acies: misera caecitas. Favorite</p>
					</div>
				</div>
				<div class="all-comments col-md-5">
					<div class="media-grids">
						<div class="w3l-media">
							<h5>floor and stairs vaccum</h5>
							<div class="media-body">
								<p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id
									ex pretium hendrerit</p>
								
							</div>
						</div>
						<div class="w3l-media">
							<h5>base board</h5>
							<div class="media-body">
								<p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id
									ex pretium hendrerit</p>
								
							</div>
						</div>
						<div class="w3l-media">
							<h5>furniture</h5>
							<div class="media-body">
								<p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id
									ex pretium hendrerit</p>
								
							</div>
						</div>

					</div>


				</div>
				<div class="clearfix"></div>
			</div>

			<div class="single-left">
				<h5 class="main-title">electrical services
				</h5>
				<div class="post-media col-md-7">
					<img src=" {% static "images/g2.jpg" %} " class="img-responsive" alt="">
					<div class="blog-text">
						<h5>Quo modo autem philosophus</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non semper, inquam; Quo modo autem philosophus loquitur? Duo
							Reges: constructio interrete. Dici enim nihil potest verius. Hic ambiguo ludimur. An hoc usque quaque, aliter in vita?
							Bonum incolumis acies: misera caecitas. Favorite</p>
					</div>
				</div>
				<div class="all-comments col-md-5">
					<div class="media-grids">
						<div class="w3l-media">
							<h5>trouble shooting</h5>
							<div class="media-body">
								<p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id
									ex pretium hendrerit</p>
								
							</div>
						</div>
						<div class="w3l-media">
							<h5>re wiring</h5>
							<div class="media-body">
								<p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id
									ex pretium hendrerit</p>
							</div>
						</div>
						<div class="w3l-media">
							<h5>repairs & installation</h5>
							<div class="media-body">
								<p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id
									ex pretium hendrerit</p>
							</div>
						</div>

					</div>


				</div>
				<div class="clearfix"></div>
			</div>
			<div class="single-left">
				<h5 class="main-title">painting services
				</h5>
				<div class="post-media col-md-7">
					<img src=" {% static "images/r1.jpg" %} " class="img-responsive" alt="">
					<div class="blog-text">
						<h5>Quo modo autem philosophus</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Non semper, inquam; Quo modo autem philosophus loquitur? Duo
							Reges: constructio interrete. Dici enim nihil potest verius. Hic ambiguo ludimur. An hoc usque quaque, aliter in vita?
							Bonum incolumis acies: misera caecitas. Favorite</p>
					</div>
				</div>
				<div class="all-comments col-md-5">
					<div class="media-grids">
						<div class="w3l-media">
							<h5>resedential</h5>
							<div class="media-body">
								<p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id
									ex pretium hendrerit</p>
							</div>
						</div>
						<div class="w3l-media">
							<h5>commercial</h5>
							<div class="media-body">
								<p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id
									ex pretium hendrerit</p>
							</div>
						</div>
						<div class="w3l-media">
							<h5>exterior & interior</h5>
							<div class="media-body">
								<p>Maecenas ultricies rhoncus tincidunt maecenas imperdiet ipsum id ex pretium hendrerit maecenas imperdiet ipsum id
									ex pretium hendrerit</p>
							</div>
						</div>

					</div>


				</div>
				<div class="clearfix"></div>
			</div>

		</div>
	</div>
	<!-- //single -->
{% endblock %}